body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fcfcfc;
  color: #111;
}

.flex-1 {
  flex: 1;
}

.body-container {
  display: flex;
  flex-direction: row;
}

.side-bar {
  background-color: #ffffff;
  border-right: 1px solid #d4d4d4;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 260px;
  list-style: none;
}

.header {
  height: 64px;
  background-color: rgb(34, 139, 34);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
  color: black;
}

.header h1 {
  font-size: 1.5em;
  font-family: Verdana, sans-serif;
  color: white;
  font-weight: 500;
  height: 52px;
  margin: 0;
  align-items: center;
  display: flex;
}

.menu-button,
.profile-button {
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0;
  height: 32px;
}

.menu-button {
  font-size: 34px;
  line-height: 1;
}

.profile-button {
  font-size: 32px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
}

.logo {
  font-size: 25px;
  color: white;
}

ul {
  padding-top: 32px;
  padding-left: 0px;
}

li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 6px;
}

.side-menu a {
  display: flex;
  text-decoration: none;
  align-items: center;
  border-radius: 5px;
  padding: 14px;
  text-align: left;
  color: #6d6d6d;
  font-weight: 550;
  width: 100%;
  padding-right: 12px;
}

.side-menu a:hover {
  background-color: rgba(158, 247, 168, 0.2);
}

.home-page {
  padding: 16px;
}

.home-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  margin-top: 18px;
}

.home-top h1{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 0;
}

.home-top text {
  color: rgb(107, 107, 107);
}

.icon-add {
  margin-right: 6px;
  font-size: 20px;
}

.criar-pedido-btn {
  display: flex;
  align-items: center;
  background-color: rgb(34, 139, 34);
  border-radius: 8px;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
}

.filtro-box {
  margin-top: 24px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 16px 16px 32px 16px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filtro-box-2 {
  margin-top: 24px;
  background-color: rgba(158, 247, 168, 0.2);
  border-radius: 8px;
  padding: 12px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filtro-box label {
  font-size: 15px;
  font-weight: 650;
  display: flex;
  align-items: center;
}

.filtro-box select {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border: none;
}

.filtro-box input {
  width: 100%;
  border: none;
}

.filtro-box input:focus{
  outline: none;
}

.filtro-box-2 label {
  font-size: 15px;
  font-weight: 650;
  display: flex;
  align-items: center;
}

.filtro-box-2 select {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border: none;
}

.filtro-box-2 input {
  width: 100%;
  border: none;
}

.filtro-box-2 input:focus{
  outline: none;
}

.pesquisa-box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 8px;
}

.pedidos-lista {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.pedido-card {
  border-radius: 25px;
  background-color: rgba(158, 247, 168, 0.2);
  color: black;
  text-decoration: none;
  padding: 14px;
  min-height: 70px;
}

.pedido-card h2 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}

.pedido-card p {
  margin: 8px 0 0;
}

.criar-pedido-page {
  padding: 16px;
}

.criar-pedido-page h1{
  font-size: 32px;
  font-weight: bold;
}

.criar-pedido-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.criar-pedido-form label {
  font-size: 15px;
  font-weight: 650;
  display: flex;
  align-items: center;
}

.criar-pedido-form input,
.criar-pedido-form textarea,
.criar-pedido-form select {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
  width: 100%;
  box-sizing: border-box;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.criar-pedido-form input::placeholder,
.criar-pedido-form textarea::placeholder,
.criar-pedido-form select::placeholder {
  color: rgb(0, 0, 0);
  font-style: normal;
  font-family: Arial, sans-serif;
}

.criar-pedido-form textarea {
  min-height: 90px;
  resize: vertical;
}

.criar-pedido-form h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 14px 0 4px;
}

.mapa-container {
  padding: 24px 16px 32px 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
  background-color: rgba(158, 247, 168, 0.2);
}

.mapa-morada {
  flex: 1;
  min-width: 280px;
}

.mapa-morada label{
  margin-top: 24px;
  display: block;
  font-weight: 650;
}

.morada-grande {
  max-width: 500px;
  font-size: 18px;
  line-height: 1.5;
}

.coordenadas-box {
  margin-top: 24px;
  font-size: 16px;
}

.coordenadas-box p {
  margin: 8px 0;
}

.mapa-box {
  padding: 8px;
  border-radius: 8px;
  flex: 1.4;
  min-width: 400px;
}

.criar-pedido-submit {
  margin-top: 12px;
  background-color: rgb(34, 139, 34);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}

.pedidos-progresso-page {
  padding: 16px;
}

.pagina-topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.pagina-topo h1 {
  background-color: #ddd;
  padding: 10px 14px;
  font-size: 22px;
  font-weight: normal;
  margin: 0;
}

.voltar-btn {
  background-color: rgb(34, 139, 34);
  color: white;
  text-decoration: none;
  padding: 9px 14px;
  border-radius: 18px;
}

.historico-page {
  padding: 16px;
}

.historico-card {
  background-color: #8f8f8f;
}

.detalhes-page {
  padding: 16px;
}

.detalhes-card {
  background-color: #ddd;
  border-radius: 20px;
  padding: 18px;
}

.detalhes-card h1 {
  margin-top: 0;
  font-size: 28px;
  font-weight: normal;
}

.detalhes-info {
  margin-bottom: 18px;
}

.detalhes-info p {
  margin: 4px 0;
}

.mapa-detalhes {
  margin: 18px 0;
  border-radius: 12px;
  overflow: hidden;
}

.acoes-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 14px;
}

.acoes-box input {
  border: none;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
}

.acao-verde,
.acao-vermelha {
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

/* Botão azul */
.acao-azul {
  background-color: #2563eb;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.acao-azul:hover {
  background-color: #2563eb;
}

.acao-verde {
  background-color: rgb(34, 139, 34);
}

.acao-vermelha {
  background-color: #c62828;
}

.acoes-secundarias {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.filtros-toggle-btn {
  color: rgb(0, 0, 0);
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  font-weight: 550;
  cursor: pointer;
  border: none;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.filtros-toggle-container{
  width: 100%;
  border: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 16px;
}

.filtros-toggle-btn:hover {
  background-color: rgba(158, 247, 168, 0.2);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.accordion-content.open {
  max-height: 1000px;
}

.filtros-expandidos {
  margin-bottom: 20px;
}

.pedidos-header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.pedidos-contagem{
  background-color: rgba(158, 247, 168, 0.2);
  color: rgb(34, 139, 34);
  border-radius: 12px;
  padding: 4px 8px;
  font-size: 14px;
  margin-left: 8px;
}

.sem-pedidos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

img {
  width: 200px;
  height: auto;
}

.sem-pedidos-img {
  margin-bottom: -32px;
}

.sem-pedidos text{
  color: rgb(107, 107, 107);
}
